body {
  font-family: sans-serif;
}

/*provide custom styling for the header*/
.custom-header {
  background-image: linear-gradient(90deg, rgb(91, 118, 153), rgb(38, 7, 151));
  color: white;
  padding: 1.5rem;
}

.bold {
  font-weight: bold;
}

/*provide custom styling for the button*/
.custom-btn {
  color: white;
  background-color: #6ea1ee;
}

.custom-secondary-btn {
  background-color: rgb(150, 150, 150);
}

.full-width {
  width: 100%;
}

sup {
  font-size: 100%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: 0em;
}

.custom-card {
  flex: 0 0 auto;
  width: 100%;
  color: white;
}

.custom-background {
  background-color: rgba(21, 21, 68, 0.856);
}

@media screen and (min-width: 768px) {
  .custom-card {
    width: 33.33333333%;
  }
}

@media screen and (min-width: 992px) {
  .custom-card {
    width: 20%;
  }
}